kmodes==0.11.1
aix360==0.2.1
cvxpy==1.1.15
alibi==0.3.2
arff==0.9
interpret==0.1.20
numpy==1.20.2
pandas==1.2.3
scikit-learn==0.22
matplotlib==3.3.4
seaborn==0.11.1
shapely==1.6.4
skope-rules==1.0.1
rulefit==0.3.1
ruleset==1.0.1
tqdm==4.62.3
qdldl==0.1.5.post0
imbalanced-learn==0.6.1